    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    .container1 {
        width: 100%;
        height: 60px;
        background-color: white;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .heading a {
        text-decoration: none;
        color: black;
        margin-right: 40px;
        font-size: smaller;
    }
    
    .container1 img {
        width: 140px;
        height: 80px;
        background-color: whitesmoke;
        display: inline-block;
        box-shadow: 0px 1px 10px 1px black;
    }
    
    .icon a {
        padding: 8px 12px;
        margin-right: 30px;
        border: 1px solid rgb(212, 222, 231);
        border-radius: 40px;
    }
    /* -------------------------main section------------------------- */
    
    .container2 {
        width: 100%;
        height: 150px;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .container2 a {
        padding: 0px 20px;
        font-size: 15px;
        text-decoration: none;
        color: black;
        display: inline;
    }
    
    .item {
        text-align: center;
    }
    
    .item a:hover {
        font-weight: bold;
    }
    
    .item:hover {
        border-bottom: 4px solid Blue;
    }
    /* ------------------------section 2 ----------------------------- */
    
    .container4 {
        width: 100%;
        height: 350px;
        display: flex;
        justify-content: space-evenly;
    }
    
    .newhead {
        padding-left: 66px;
        margin: 40px;
    }
    
    .container4 img {
        width: 200px;
        height: 183px;
    }
    
    .container4 .p1 {
        border: 1px solid rgba(10, 10, 10, 0.3);
    }
    
    .container4 .p2 {
        border: 1px solid rgba(10, 10, 10, 0.3);
    }
    
    .container4 .p3 {
        padding: 6px;
        border: 1px solid rgba(10, 10, 10, 0.3);
    }
    
    .container4 .p4 {
        padding: 6px;
        border: 1px solid rgba(10, 10, 10, 0.3);
        /* background-clip: padding-box; */
    }
    
    figcaption {
        padding-top: 6px;
        font-size: 17px;
        text-align: center;
    }
    
    .container4 p {
        text-align: center;
        padding-top: 30px;
        font-size: small;
    }
    
    .container4 a {
        text-decoration: none;
        display: flex;
        justify-content: center;
        color: blue;
        font-size: smaller;
        padding-top: 40px;
    }
    /* section 3---------------------------- */
    
    .container5 {
        width: 100%;
        height: 450px;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: space-evenly;
        margin-top: 40px;
    }
    
    .slide1 {
        width: 500px;
        height: 400px;
        background: linear-gradient(to bottom right, #003655 0, #0066a1 50%, #0096ee 100%);
    }
    
    .slide2 {
        width: 500px;
        height: 400px;
        background: linear-gradient(135deg, rgb(66, 20, 95), rgb(125, 0, 99));
    }
    
    .container5 img {
        width: 200px;
        height: 200px;
        float: right;
    }
    
    .container5 .text1 h1 {
        font-size: 30px;
        margin-top: 50px;
        margin-left: 40px;
        /* text-align: justify; */
        display: inline-block;
        color: whitesmoke;
    }
    
    .container5 .text2 h1 {
        font-size: 30px;
        margin-top: 50px;
        margin-left: 40px;
        margin-bottom: 30px;
        /* text-align: justify; */
        display: inline-block;
        color: whitesmoke;
    }
    
    .container5 button {
        margin-top: 50px;
        margin-left: 50px;
        color: white;
        padding: 6px 25px;
    }
    
    .slide2 button {
        background-color: #7d0063;
        color: white;
    }
    
    .slide1 button {
        background: linear-gradient(to bottom right, #003655 0, #0066a1 50%, #0096ee 100%);
    }
    
    .container5 .text1 h6 {
        text-align: left;
        margin-top: 80px;
        margin-left: 40px;
        color: white;
        font-size: smaller;
    }
    
    .container5 .text2 h6 {
        text-align: left;
        margin-top: 80px;
        margin-left: 40px;
        color: white;
        font-size: smaller;
    }
    /* section 4 ------------------------ */
    
    .container6 {
        width: 75%;
        height: auto;
    }
    
    .box1 img {
        margin-left: 110px;
        width: 1130px;
        position: relative;
    }
    
    .box1 h1 {
        position: absolute;
        bottom: -750px;
        left: 200px;
        color: white;
        font-size: 50px;
    }
    
    .box1 h4 {
        position: absolute;
        bottom: -800px;
        left: 200px;
        color: white;
        font-size: 20px;
    }
    
    .box1 button {
        position: absolute;
        bottom: -850px;
        left: 230px;
        padding: 6px 30px;
        background-color: #003478;
        color: white;
    }
    /* ------------------section 5 -------------------------- */
    
    .container7 {
        background-color: blue;
        width: 84%;
        height: 480px;
        margin-left: 110px;
        background: linear-gradient(to bottom right, #003655 0, #0066a1 50%, #0096ee 100%);
    }
    
    .box2 img {
        background-size: contain;
        width: 570px;
        height: 480px;
        float: right;
    }
    
    .box2 h1 {
        color: white;
        /* text-align: start; */
        margin-top: 50px;
        margin-left: 70px;
        padding-top: 100px;
        font-size: 40px;
    }
    
    .box2 button {
        padding: 4px 10px;
        background: linear-gradient(to bottom right, #003655 0, #0066a1 50%, #0096ee 100%);
        color: white;
        margin-top: 40px;
        margin-left: 80px;
    }
    /* section 6------------------------------------- */
    
    .container8 {
        width: 84%;
        height: 480px;
        margin-left: 110px;
        margin-top: 60px;
        background: linear-gradient(135deg, rgb(66, 20, 95), rgb(125, 0, 99));
    }
    
    .box3 img {
        background-size: contain;
        width: 562px;
        height: 480px;
        position: relative;
    }
    
    .box3 h1 {
        font-size: 40px;
        position: absolute;
        left: 750px;
        bottom: -1800px;
        color: white;
    }
    
    .box3 h4 {
        font-size: 20px;
        position: absolute;
        left: 750px;
        color: white;
        bottom: -1850px;
    }
    
    .box3 button {
        background-color: #7d0063;
        color: white;
        position: absolute;
        left: 750px;
        bottom: -1950px;
        padding: 4px 10px;
    }
    /* ----------------------section 7-------------------------------------------- */
    
    .container9 {
        width: 84%;
        height: 480px;
        margin-left: 110px;
        background: linear-gradient(to bottom right, #003655 0, #0066a1 50%, #0096ee 100%);
    }
    
    .box4 img {
        background-size: contain;
        width: 570px;
        height: 480px;
        float: right;
    }
    
    .box4 h1 {
        color: white;
        /* text-align: start; */
        margin-top: 50px;
        margin-left: 70px;
        padding-top: 100px;
        font-size: 40px;
    }
    
    .box4 button {
        padding: 4px 10px;
        background-color: #003478;
        color: white;
        margin-top: 40px;
        margin-left: 80px;
    }
    /* -------------------section 7------------------------------------- */
    
    .form input {
        width: 150px;
        height: 45px;
        text-align: center;
        margin-top: 10px;
    }
    
    .form .div {
        margin: 0px 40px;
    }
    
    .container10 {
        margin-top: 40px;
        margin-left: 110px;
        width: 84%;
        height: 500px;
        display: flex;
        justify-content: space-evenly;
    }
    
    .container10 .content {
        width: 830px;
        height: 500px;
        background-color: rgb(239, 239, 239);
        margin-right: 20px;
        padding: 18px;
    }
    
    .content h1 {
        font-weight: 300;
        color: #0066a1;
        letter-spacing: -.5px;
        font-size: 34px;
        line-height: 40px;
        margin-bottom: 24px;
    }
    
    .content h6 {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    .tick1 p {
        margin-bottom: 20px;
        margin-right: 12px;
        margin-top: 10px;
        font-size: medium;
    }
    
    .textlast {
        margin-top: 20px;
        font-size: 20px;
        line-height: 22px;
    }
    
    .textlast a {
        text-decoration: none;
        color: #003478;
    }
    
    .content button {
        background-color: #0066a1;
        -webkit-appearance: button;
        cursor: pointer;
        color: #fff;
        line-height: 1.42857143;
        text-align: center;
        border-radius: 2px;
        font-size: 14px;
        min-width: 86px;
        padding: 7px 20px 6px;
        margin-top: 30px;
    }
    
    aside {
        background-color: #cdd7e2;
    }
    
    aside h1 {
        font-size: 50px;
        margin: 20px;
    }
    
    aside h3 {
        margin-top: 20px;
        font-size: 25px;
        margin: 20px;
    }
    
    aside .tick1 p {
        margin-top: 20px;
        margin-bottom: 10px;
        margin-right: 12px;
        font-size: medium;
        margin: 20px;
    }
    
    .content2 button {
        background-color: #0066a1;
        -webkit-appearance: button;
        cursor: pointer;
        color: #fff;
        line-height: 1.42857143;
        text-align: center;
        border-radius: 2px;
        font-size: 14px;
        min-width: 86px;
        padding: 7px 20px 6px;
        margin: 20px;
    }
    /* --------------------------------footer--------------------------------------- */
    
    footer .foot {
        margin-top: 40px;
    }
    
    .foot {
        width: 100%;
        height: 600px;
        display: grid;
        grid-template-columns: auto auto auto auto;
        background-color: rgba(15, 32, 75, 1.0);
        color: white;
        margin: 0px auto;
        padding-left: 110px;
    }
    
    .foot .first {
        color: #ebb521;
        font-size: 20px;
        padding-top: 40px;
    }
    
    ul li {
        padding-top: 20px;
    }
    
    ul li a {
        color: aliceblue;
        text-decoration: none;
        font-size: 18px;
    }
    
    ul li a:hover {
        color: #1DB954;
        /* text-decoration: underline; */
    }
    /* footer 2 -------------------------------------------- */
    
    .footer {
        width: 100%;
        height: 200px;
        background: linear-gradient(to bottom right, #003655 0, #0066a1 50%, #0096ee 100%);
        display: flex;
        justify-content: space-around;
        padding-top: 40px;
    }
    
    .image img {
        width: 120px;
        height: 150px
    }
    
    .icons h4 {
        font-size: 40px;
        margin-top: 20px;
        color: aliceblue;
    }
    
    .icons i {
        padding-top: 40px;
        padding-left: 20px;
        color: white;
    }