* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container1 {
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.heading a {
    text-decoration: none;
    color: black;
    margin-right: 40px;
    font-size: smaller;
}

.container1 img {
    width: 140px;
    height: 80px;
    background-color: whitesmoke;
    display: inline-block;
    box-shadow: 0px 1px 10px 1px black;
}

.icon a {
    padding: 8px 12px;
    margin-right: 30px;
    border: 1px solid rgb(212, 222, 231);
    border-radius: 40px;
}


/* -------------------------main section------------------------- */

.container2 {
    width: 100%;
    height: 150px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 a {
    padding: 0px 20px;
    font-size: 15px;
    text-decoration: none;
    color: black;
}

.item1 {
    text-align: center;
}

.item2 {
    text-align: center;
}

.item3 {
    text-align: center;
}

.item4 {
    text-align: center;
}

.item5 {
    text-align: center;
}

.item6 {
    text-align: center;
}

.item7 {
    text-align: center;
}

.item8 {
    text-align: center;
}

.item9 {
    text-align: center;
}